@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 280px;
  min-height: 100vh;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  background-color: #fff;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 15;
  transition: 0.5s;
  padding: 40px 20px;
}
.sidebar.active {
  left: 0;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

.productDropdownList {
  display: none;
}

.productDropdown:hover .productDropdownList {
  display: block;
  font-weight: 400;
}

.contactInputField:focus-visible {
  outline: none;
}

/* Active Navigation Link */
.active {
  @apply text-dark-orange font-semibold;
}

.otherProducts.active {
  font-weight: 700;
  padding: 16px;
  background: #ff80001a;
  border-radius: 10px;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {
  .padding {
    @apply xl:px-24 lg:px-16 sm:px-12 px-5 xl:py-24 lg:py-16 sm:py-12 py-10;
  }

  .padding-x {
    @apply xl:px-24 lg:px-16 sm:px-12 px-5;
  }

  .padding-y {
    @apply xl:py-24 lg:py-16 sm:py-12 py-10;
  }

  .padding-l {
    @apply xl:pl-24 lg:pl-16 sm:pl-12 pl-5;
  }

  .padding-r {
    @apply xl:pr-24 lg:pr-16 sm:pr-12 pr-5;
  }

  .padding-t {
    @apply xl:pt-24 lg:pt-16 sm:pt-12 pt-10;
  }

  .padding-b {
    @apply xl:pb-24 lg:pb-16 sm:pb-12 pb-10;
  }
}
